header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.name__heading{
    font-size: 70px;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
  
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                   0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
    }
    to {
      text-shadow: 0 0 20px #7DF9FF, 0 0 30px #7DF9FF, 0 0 40px #7DF9FF, 0 0 50px #7DF9FF,
                   0 0 60px #0000FF, 0 0 70px #0096FF, 0 0 80px #7DF9FF;
    }
  }

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}


.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me{
    background: linear-gradient(var(--color-primary),transparent);
    background: var(--color-primary);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.me_img{
    height: 20rem;
}

.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

@media screen and (max-width:1024px){
    header{
        height:68wh;
    }
}

@media screen and (max-width:600px){
    header{
        height:33rem;
    }
    .me{
        display: none;
    }
    .me_img{
        display: none;
    }
    .header__socials,.scroll_down{
        display: none;
    }
}